<!DOCTYPE html>
<html>
  <head>
    <title>QEmotionProjectV2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.slim.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <a class="navbar-brand name" href="/">GitHub search</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/search">Do research</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <% if logged_in? %>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="/users/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/signup">Signup</a>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="intoBody">
      <% if flash[:info] != nil %>
        <div class="text-center alert alert-danger">
          <%= flash[:info] %>
        </div>
      <% end %>

      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
